page-tarjetas-embarque {

    .fondo-img{
        background-image: url('../assets/imgs/fondo.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: top;
        background-size: contain;
    }

}
